@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Chakra+Petch:wght@300;400;500;600&family=DM+Serif+Display:ital@0;1&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Open+Sans:ital@0;1&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Rajdhani:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  outline: 0;
  border: 0;
  background: none;
}

.btn {
  display: inline-block;
  padding: 1em;
  text-transform: uppercase;
}

.primary-btn {
  border: 1px solid white;
}

.primary-btn:hover {
  background-color: white;
  color: hsl(256, 26%, 20%);
}

.dark-violet-bg {
  background-color: hsl(256, 26%, 20%);
}

.line {
  width: 100px;
  height: 2px;
  background-color: hsl(0, 0%, 98%);
  margin: 0 auto;
}

/* ########header######## */
header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 9999;
  height: 80px;
  background-color: white;
}
header .container {
  background-color: white;
  padding: 0 2em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ########nav######## */
nav .toggle-nav {
  width: 40px;
  aspect-ratio: 1;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul {
  position: absolute;
  inset: 100% 0 auto 0;
  z-index: -1000;
  padding: 1.8em 15%;
  background: hsl(256, 26%, 20%);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
nav ul a {
  display: block;
  padding: 1.1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  color: white;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}
nav ul a:hover {
  background-color: white;
  color: hsl(256, 26%, 20%);
}
nav ul[data-hidden=false] {
  transform: translateY(0%);
}

nav:has(ul[data-hidden=false]) .toggle-nav {
  background-image: url("../images/icon-close.svg");
}

/* ########main######## */
main {
  margin-top: 80px;
}

/* ####humanizing#### */
#humanizing {
  text-align: center;
  color: white;
}
#humanizing .content {
  position: relative;
}
#humanizing .content .back-img {
  position: absolute;
  background-image: url("../images/bg-pattern-intro-left-mobile.svg"), url("../images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  inset: 0 0 0 0;
}
#humanizing .content .padding {
  padding: 2.5em;
}
#humanizing .content .padding > * + * {
  margin-top: 2em;
}
#humanizing .content .line {
  margin: 10em 0 2em;
}
#humanizing h1 {
  font-size: 2.6em;
  line-height: 1;
  font-weight: 100;
}
#humanizing p {
  color: hsl(0, 0%, 98%);
  line-height: 1.7;
}/*# sourceMappingURL=style.css.map */