@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Chakra+Petch:wght@300;400;500;600&family=DM+Serif+Display:ital@0;1&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Open+Sans:ital@0;1&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Rajdhani:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");

$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$very-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
source {
  max-width: 100%;
  display: block;
}

button {
  outline: 0;
  border: 0;
  background: none;
}

button,
.btn {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 0.9em 2em 0.75em;

  font-size: 0.9em;
  text-transform: uppercase;
  line-height: 100%;

  transition-property: color, border-color, border;
  transition-duration: 0.4s;
}
.primary-btn {
  border: 1px solid white;
  color: white;
}
.primary-btn:hover {
  background-color: white;
  color: $dark-violet;
}

.dark-violet-bg {
  background-color: $dark-violet;
}

.line {
  width: 150px;
  height: 2px;
  background-color: $very-light-gray;
}

.flex {
  display: flex;
}
.column-to-row {
  @extend .flex;
  flex-direction: column;
}

.gray-text {
  color: $very-grayish-violet;
}

.container-side-padding-2 {
  padding: 0 2em;
}
.container-side-padding-3 {
  padding: 0 3em;
}
.container-side-padding-4 {
  padding: 0 4em;
}
.container-padding-2 {
  padding: 2em;
}
.container-padding-3 {
  padding: 3em;
}
.container-padding-4 {
  padding: 4em;
}

.separate-space-1 {
  > * + * {
    margin-top: 1em;
  }
}
.separate-space-2 {
  > * + * {
    margin-top: 2em;
  }
}

.no-event {
  pointer-events: none;
}

/* media for utility classes */
@media (min-width: 40em) {
  .column-to-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .space-between-dk {
    justify-content: space-between;
  }
}

/* ########header######## */
header {
  position: fixed;
  z-index: 9999;
  inset: 0 0 auto 0;

  height: 80px;
  background-color: white;

  .container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* ########nav######## */
nav {
  .toggle-nav {
    width: 40px;
    aspect-ratio: 1;

    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  ul {
    position: fixed;
    inset: 80px 0 0 0;
    z-index: 1000;

    padding: 1.8em 15%;
    background: $dark-violet;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    background: url("../images/bg-pattern-mobile-nav.svg") bottom no-repeat,
      $dark-violet;

    a {
      display: block;
      padding: 1.1em;

      text-align: center;
      text-transform: uppercase;
      font-size: 1.1em;
      color: white;

      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    a:hover {
      background-color: white;
      color: $dark-violet;
    }

    .active {
      @extend .primary-btn;
    }
  }
  ul[data-hidden="false"] {
    transform: translateX(0%);
  }
}
nav:has(ul[data-hidden="false"]) .toggle-nav {
  background-image: url("../images/icon-close.svg");
}

/* ########main, footer######## */
main {
  margin-top: 80px;
}
main,
footer {
  text-align: center;
}

/* ####humanizing#### */
#humanizing {
  position: relative;
  color: white;

  .line {
   display: none;
  }

  .content-container {
    padding: 4em;
  }

  .back-img {
    position: absolute;
    z-index: 1000;
    inset: 0 0 0 0;

    background-image: url("../images/bg-pattern-intro-left-mobile.svg"),
      url("../images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: left 44%, right bottom;
  }

  .blank {
    height: 225px;
    background-color: white;
  }

  img {
   margin: 0 auto;
  }

  h1 {
   margin: 0;
    font-size: 2.6em;
    line-height: 1;

    font-weight: 100;
  }

  p {
    color: $very-light-gray;
    line-height: 1.7;
  }
}

/* ####different#### */
#different {
  padding: 0 2em;

  h2 {
    font-size: 2.6em;
    margin-bottom: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  img {
    margin: 0 auto;
  }

  .flex {
    gap: 4em;
  }
}

/* ####find more#### */
#find-more {
  padding: 6em 1em;

  h2 {
    font-size: 2.3em;
    font-weight: 100;
    line-height: 1;
  }

  .container {
    color: white;
    padding: 5em 3em;

    align-items: center;
    gap: 2.5em;

    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

/* ########footer######## */
footer {
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;

  .socials {
    display: flex;
    gap: 1em;

    a:hover {
      filter: brightness(0.3);
    }
  }

  .top {
    align-items: center;
    gap: 2em;

    padding: 2em 0;
    border-bottom: 2px solid $very-light-gray;
  }

  .bottom {
    align-items: center;

    gap: 2em;
    padding: 2em;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.8em;

  li:first-child {
    color: $very-grayish-violet;
    margin-bottom: 1em;
  }

  li,
  a {
    font-size: 0.9em;
    font-weight: 900;
    color: $dark-violet;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: underline;
  }
}

.attribution {
  padding: 1em;
  text-align: center;

  a {
    color: $very-light-gray;
  }
}

@media (min-width: 55em) {
  nav {
    .toggle-nav {
      display: none;
    }

    ul {
      position: static;
      transform: none;
      background: none;
      white-space: nowrap;
      align-items: baseline;
      margin: 0;
      padding: 0;

      a {
        color: $very-grayish-violet;
        padding: 0.6em 1em;
      }
      a:hover {
        color: $dark-violet;
      }

      .active {
        color: $dark-violet;
        border-color: $dark-violet;
      }
      .active:hover {
        background-color: $dark-violet;
        color: white;
      }
    }
  }

  main,
  footer {
    text-align: left;
  }

  #humanizing {
    .top {
      padding: 6em;
    }

    .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap:1.4em;

      > * {
        flex-basis: 48%;
      }
    }

    .content-container {
      padding: 0;
    }

    .line {
      display: block;
      margin: 0;
    }

    .img-container {
      position: relative;

      img,
      picture {
        position: absolute;
        inset: 0 0 auto 0;
        width: 100%;

        height: auto;
      }
    }

    .back-img {
      background-image: url("../images/bg-pattern-intro-left-desktop.svg"),
        url("../images/bg-pattern-intro-right-desktop.svg");
      background-position: 
        calc(0% - 25px) bottom, 
        calc(100% + 25px) calc(0% - 80px);
    }

    h1 {
      margin-top: 1em;
      font-size: 4.2em;
    }
  }
}
